html {
    overflow: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-size: 0;
    color: #000;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

canvas {
    /*image-rendering: pixelated;*/
    margin-left: -2px;
    margin-right: -2px;
}

.hero {
    height: 400px;
    color: white;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #11b7ff;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}

.hero .front {
    position: relative;
    z-index: 1;
    height: 100%;
    transform: translate(0, 165px);
}

.hero .front canvas {
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.2));
}

.hero .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.3)
}

.hero .backdrop canvas {
    position: absolute;
}

.hero .backdrop canvas:nth-child(1 ) { top: calc(13% - 10px); right: 60% }
.hero .backdrop canvas:nth-child(2 ) { top: calc(11% - 10px); left: 45% }

.hero .backdrop canvas:nth-child(3 ) { top: calc(25% - 10px); right: 50% }
.hero .backdrop canvas:nth-child(4 ) { top: calc(26% - 10px); left: 55% }

.hero .backdrop canvas:nth-child(5 ) { top: calc(39% - 10px); right: 55% }
.hero .backdrop canvas:nth-child(6 ) { top: calc(38% - 10px); left: 50% }

.hero .backdrop canvas:nth-child(7 ) { top: calc(62% - 10px); right: 55% }
.hero .backdrop canvas:nth-child(8 ) { top: calc(63% - 10px); left: 50% }

.hero .backdrop canvas:nth-child(9 ) { top: calc(76% - 10px); right: 60% }
.hero .backdrop canvas:nth-child(10) { top: calc(75% - 10px); left: 45% }

.hero .backdrop canvas:nth-child(11) { top: calc(88% - 10px); right: 50% }
.hero .backdrop canvas:nth-child(12) { top: calc(89% - 10px); left: 55% }

/* -------- */

.section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px 0;
    background-color: white;
    overflow: hidden;
}

.section:last-of-type {
    border-bottom: none;
    margin-bottom: 8px;
}

.section .top {
    text-align: center;
    margin: 16px 0 0 -200px;
    padding: 8px 16px 12px;
    width: calc(50vw + 200px);
    height: 32px;
    text-align: right;
    background: #00b2ff;
    color: #fff;
    overflow: visible;
    position: relative;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.2));
}

.section .top:after {
    content: " ";
    position: absolute;
    top: 6px;
    right: -11px;
    transform: scale(1.3);
    border-right: 10px solid transparent;
    border-top: 20px solid #00b2ff;
    border-bottom: 20px solid #00b2ff;
}

.section .top canvas {
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.2));
}

.section .blurb {
    text-align: center;
    margin: 16px;
}

.section .large-link {
    text-align: center;
    padding: 16px;
}

a canvas {
    color: #00b2ff;
    box-shadow: inset 0 -1px 0 #00b2ff;
}

.large-link a canvas {
    box-shadow: none;
    border-bottom: 2px solid #00b2ff;
}

.specimens {
    margin: 32px 0 24px;
}

.specimen-row {
    margin: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.specimen-name {
    padding: 4px 20px 4px 0;
    width: 190px;
    text-align: right;
    border-right: 1px solid #DDD;
}

.specimen-text {
    padding: 4px 0 4px 16px;
    text-align: left;
    width: 410px;
}

.specimen-name, .specimen-text {
    display: inline-block;
}

.specimens-centered {
    margin: 0 auto 32px;
    max-width: 430px;
    text-align: center;
}

.specimens.fullwidth,
.specimens.fullwidth .specimen-row,
.specimens.fullwidth .specimen-text {
    text-align: left;
    max-width: 100vw;
    width: auto;
}

.specimens.fullwidth .specimen-text {
    padding: 4px 16px;
}

.specimens:not(.fullwidth) .specimen-row[data-style="normal"][data-size="28"] > * {
    padding-bottom: 10px;
}

.specimens.fullwidth .specimen-row[data-style="normal"][data-size="28"] {
    padding-bottom: 12px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 12px;
}

textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    resize: vertical;
    width: 500px;
    height: 40px;
    max-width: calc(100vw - 70px);
    display: block;
    margin: 20px auto 0;
    border: 1px solid #DDD;
    padding: 10px;
}

.specimens-centered canvas {
    margin: 0 4px;
}

.ghastly {
    opacity: .5;
}

.floaters {
    position: relative;
    width: 1000px;
    max-width: 100vw;
    overflow: hidden;
    height: 250px;
    margin: 16px auto 0;
}

.floaters canvas {
    position: absolute;
}
